﻿.register-body{
    background-image:url("../Resources/Customization/imagenes/background_register.jpg");
}

.header-register{
    height:60px;
    text-align:center;
    background-color:white;
    border-radius:6px;
    -webkit-box-shadow:black 5px 5px initial;
    margin-bottom:20px;

}

.logo-enterprise{
    height:100%;
}

#container-register{
    margin:30px;
    overflow:auto;
}

.register-box{
    -webkit-box-sizing:border-box;
    -webkit-box-shadow:white 10px 10px 10px 10px inset !important;
}

.header-panel-register{
    background-color:#546e7a !important;
    text-align:center;
    color:white !important;
    font-size:larger;
}