﻿<%@ Page Title="" 
    Language="VB" 
    MasterPageFile="~/Principal.master" 
    AutoEventWireup="false" 
    CodeFile="Niveles.aspx.vb" 
    Inherits="superadministrador_Niveles" 
    MaintainScrollPositionOnPostback="true" %>

<asp:Content ID="Content5" ContentPlaceHolderID="PageTitle_ContentPlaceHolder" Runat="Server">
    <asp:Literal ID="Literal1" runat="server" Text="Integrant" />
</asp:Content>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style10
    {
        width: 100%;
            height: 408px;
        }
    .style11
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
            height: 6px;
        }
        .style15
        {
            font-weight: normal;
        }
        .style18
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            height: 24px;
        }
        .style16
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        font-weight: 700;
    }
        .style20
        {
            height: 74px;
        }
        .style23
        {
            height: 82px;
        }
        .style24
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
            font-weight: bold;
        }
        .style25
        {
            font-family: Arial, Helvetica, sans-serif;
            font-size: small;
        }
        .style26
        {
            font-weight: bold;
        }
        </style>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="Scripts_ContentPlaceHolder" runat="Server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="Title_ContentPlaceHolder" runat="Server">
		<h1>
			Administración de 
										<asp:Label ID="Label1" runat="server" Text="[NIVELES]" />
		</h1>
		
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="Contenedor" Runat="Server">
    <table class="style10">
        <tr>
            <td class="style11">
                <span class="style25">
                <span class="style15">
                Indique los Estatus: <b>Activo</b>, <b>Suspendido</b> o
                </span>
                <span class="style26">
                Baja</span></span><span class="style15"><span class="titulo"><br />
                </span>
                </span>
            </td>
        </tr>
        <tr>
            <td class="style18">
                <asp:Label ID="Mensaje" runat="server" CssClass="style16">Capture el nombre del 
										<asp:Label ID="Label2" runat="server" Text="[NIVEL]" /> (Ejem: Bachillerato, Secundaria)</asp:Label>
                :</td>
        </tr>
        <tr>
            <td class="style20">
                <asp:DetailsView ID="DVniveles" runat="server" AllowPaging="True" 
                    AutoGenerateDeleteButton="True" AutoGenerateEditButton="True" 
                    AutoGenerateInsertButton="True" AutoGenerateRows="False" BackColor="White" 
                    BorderColor="#999999" BorderStyle="Solid" BorderWidth="1px" CellPadding="3" 
                    DataKeyNames="IdNivel" DataSourceID="LDSniveles" GridLines="Vertical" 
                    Height="50px" 
                    style="font-family: Arial, Helvetica, sans-serif; font-size: small" 
                    Width="642px" ForeColor="Black">
                    <FooterStyle BackColor="#CCCCCC" />
                    <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                    <Fields>
                        <asp:BoundField DataField="IdNivel" HeaderText="Id del Sistema" InsertVisible="False" 
                            ReadOnly="True" SortExpression="IdNivel" >
                        <HeaderStyle Width="230px" />
                        </asp:BoundField>
                        <asp:BoundField DataField="Descripcion" HeaderText="Descripción" 
                            SortExpression="Descripcion" />
                        <asp:BoundField DataField="FechaModif" HeaderText="Fecha Modificación (dd/mm/aaaa)" 
                            SortExpression="FechaModif" />
                        <asp:BoundField DataField="Modifico" HeaderText="Modificó" 
                            SortExpression="Modifico" />
                        <asp:BoundField DataField="Estatus" HeaderText="Estatus (Activo, Suspendido o Baja)" 
                            SortExpression="Estatus" />
                    </Fields>
                    <HeaderStyle BackColor="#424242" Font-Bold="True" ForeColor="White" />
                    <EditRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
                    <AlternatingRowStyle BackColor="#CCCCCC" />
                </asp:DetailsView>
            </td>
        </tr>
        <tr>
            <td class="style23">
              <asp:LinqDataSource ID="LDSniveles" runat="server"
                ContextTypeName="NivelesDataContext" EnableDelete="True" EnableInsert="True"
                EnableUpdate="True" TableName="Nivels" EntityTypeName="">
                </asp:LinqDataSource>
                <asp:SqlDataSource ID="SDSniveles" runat="server" 
                    ConnectionString="<%$ ConnectionStrings:sadcomeConnectionString %>" 
                    SelectCommand="SELECT * FROM [Nivel]"></asp:SqlDataSource>
            </td>
        </tr>
        <tr>
            <td class="style23">
                <asp:HyperLink ID="HyperLink2" runat="server"
					NavigateUrl="~/" 
                    CssClass="defaultBtn btnThemeGrey btnThemeWide">
					Regresar&nbsp;al&nbsp;Menú
                </asp:HyperLink>
            </td>
        </tr>
    </table>
</asp:Content>

