﻿<%@ Page Title="" 
    Language="VB" 
    MasterPageFile="~/Bloqueo.master" 
    AutoEventWireup="false" 
    CodeFile="Activos.aspx.vb" 
    Inherits="Activos" %>

<asp:Content ID="Content1" ContentPlaceHolderID="PageTitle_ContentPlaceHolder" Runat="Server">
    <asp:Literal ID="Literal1" runat="server" Text="Integrant" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="Scripts_ContentPlaceHolder" Runat="Server">
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="Title_ContentPlaceHolder" Runat="Server">
    Activos
</asp:Content>

<asp:Content ID="Content5" ContentPlaceHolderID="Contenedor" Runat="Server">
    <asp:Label ID="Label1" runat="server" Text="Label" />
</asp:Content>

