﻿
#menuBlock {
    display: table;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

    #menuBlock ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    #menuBlock li {
        display: block;
        float: left;
        text-align: center;
        height: 100%;
    }

    
        #menuBlock li a {
            padding-top: 0px; /*Se cambio esta linea por motivos de padding en botones parte de arriba*/
           /*padding-left: 20px;*/ 
            padding-right: 20px;
            height: 74px;
            display: inline-block;
            letter-spacing: 1px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.8em;
            color: #333;
            border-bottom: 5px solid transparent;
        }


        #menuBlock li:hover a, #menuBlock li.active a, #menuBlock li.active span {
            background: #d5d5d5;
            color: #333;
        }

        .loginError {
            color: red; 
            display: inline-block; 
            padding-left: 30px; 
            padding-top: 15px; 
            font-weight: bold;
        }


#registerContainer:hover {
    color: #000066;
    font-weight: bold;
    cursor: pointer;
}

#registerContainer {
    font-weight: bold;
    color: #545454;
}
.width-register-cont{
     width: 100%;
    text-align: center;
    padding: 10px;
}

 
@media (max-width:2500px) {
    #acessbox {
        padding: 25px;
        height: 350px;
        width: 300px;
        background: rgba(225, 225, 225, 0.8);
        position: relative;
        min-width: 300px;
        display: block;
        /*vertical-align:baseline;*/
        top: -450px;
        overflow: hidden;
        margin-right: 160px;
        float: right;
    }
    .contenedorPrueba {
    display:block;margin-left:auto;margin-right:auto;
    }
}
    .boxlogoEmpresa {
        margin-left:auto;
        margin-right:auto;
        display:block;  
      
    }
    
    #publicMessage {
        max-width: 500px;
        background: #fafafa;
        display: block;
        float: right;
        top: -450px;
        position: relative;
        margin-right: 100px;
        padding: 30px;
        font-family: Arial;
    }

    .lbLogin{
        height:34px;
        width:95px;
        margin:2px;
        clear:both;
        float:left;
        box-sizing:border-box;
        margin-bottom:15px;
        text-align:right;
        font-weight:600;
    }

    #areaCheckboxes {
        width:320px;
        display:inline-block;
        padding-left: 35px;
    }

    .tbLogin {
        width:180px;
        margin-left:40px;
        padding: 10px 15px;
    }

    .tbUsername {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .tbPassword {
        margin-bottom: 20px;
    }

    .checkboxLogin {
        width: 10px;
        margin-right:5px;
    }

    #imgPrincipal {
        height: 90px;
    }

    .lbChbArea {
        font-size:13px;
        margin-right:10px;
    }

    .btnLoginConnected {
        margin-left:auto;
        margin-right:auto;
        background:green;
        width:250px;
        height:40px;
        display:block;
        text-align:center;
        color:white;
        font-weight:600;
        font-size: 16px;
        font-family: Arial;
        border: medium none;
    }

    #formLogin {
        height:210px;
     
    }




@media (min-width:2500px) {
    #acessbox {
        padding: 25px;
        height: 350px;
        width: 300px;
        background: rgba(225, 225, 225, 0.8);
        position: relative;
        min-width: 300px;
        display: block;
        /*vertical-align:baseline;*/
        top: -450px;
        overflow: hidden;
        margin-right: 160px;
        float: right;
    }
    .contenedorPrueba {
    display:block;margin-left:auto;margin-right:auto;
    width:2500px;
    }
}

