﻿<%@ Master
    Language="VB"
    MasterPageFile="~/alumno/principal_alumno_5-1-0.master"
    AutoEventWireup="false"
    CodeFile="comunicacion_alumno_5-1-0.master.vb"
    Inherits="comunicacion_alumno_5_1_0" %>

<asp:Content ID="Content1" ContentPlaceHolderID="PageTitle_ContentPlaceHolder" runat="Server">
    <asp:ContentPlaceHolder ID="PageTitle_ContentPlaceHolder_comunicacion" runat="server" />
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="Server">
    <%-- cargo los estilos de la página maestra hija --%>
    <style type="text/css">
        #menusCol {
            padding: 0;
            margin: 0;
            list-style-type: none;
            border-right-color: #808080;
            border-right-width: 1px;
            border-right-style: solid;
            font-size: small;
        }

        #optionsCol {
            display: inline-block;
            position: relative;
            clear: none;
        }

            #optionsCol a:link,
            #optionsCol a:hover,
            #optionsCol a:visited,
            #optionsCol a:active {
                text-decoration: none;
                color: #000000;
            }

        .optionSection {
            display: none;
        }

        .menuP {
            display: block;
            min-height: 25px;
            position: relative;
            padding-top: 15px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: left;
            font-weight: normal;
            cursor: pointer;
            border-bottom: solid;
            border-bottom-width: 1px;
            border-color: #888;
        }

            .menuP:hover {
                background-color: #CCDDEE;
            }

        #menusCol a:link,
        #menusCol a:hover,
        #menusCol a:visited,
        #menusCol a:active {
            text-decoration: none;
            color: #000000;
        }
    </style>

    <asp:Literal ID="pnlHeader" runat="server"></asp:Literal>

    <%-- un contenedor anidado para estilos de páginas hijas --%>
    <asp:ContentPlaceHolder ID="head_comunicacion" runat="server" />
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="Contenedor" runat="Server">
    <table style="width: 100%; min-width: 1000px; border-collapse: collapse; border-spacing: 0;">
        <tr>
            <td style="vertical-align: top; width: 250px; padding: 0;">
                <div id="menusCol">
                    <asp:HyperLink ID="HyperLink1" runat="server"
                        CssClass="menuP current_page_enviar"
                        NavigateUrl="comunicacion/enviar/">
                            <asp:Image ID="Image4" runat="server"
                                ImageUrl="~/Resources/imagenes/btnIcons/fatcow-hosting-icons-3800/FatCow_Icons32x32/email_edit.png"
                                CssClass="btnIcon"
                                Height="24" />
                                <asp:Literal ID="lt_enviar" runat="server">[Enviar]</asp:Literal>
                    </asp:HyperLink>
                    <asp:HyperLink ID="HyperLink2" runat="server"
                        CssClass="menuP current_page_entrada"
                        NavigateUrl="comunicacion/entrada/">
                            <asp:Image ID="Image1" runat="server"
                                ImageUrl="~/Resources/imagenes/btnIcons/fatcow-hosting-icons-3800/FatCow_Icons32x32/inbox_download.png"
                                CssClass="btnIcon"
                                Height="24" />
                                <asp:Literal ID="lt_entrada" runat="server">[Bandeja de Entrada]</asp:Literal>
                            <asp:Label ID="lblNotificaEntrada" runat="server" Text="0" CssClass="menuListGlobe" Visible="false" />
                    </asp:HyperLink>
                    <asp:HyperLink ID="HyperLink3" runat="server"
                        CssClass="menuP current_page_salida"
                        NavigateUrl="comunicacion/salida/">
                            <asp:Image ID="Image2" runat="server"
                                ImageUrl="~/Resources/imagenes/btnIcons/fatcow-hosting-icons-3800/FatCow_Icons32x32/inbox_upload.png"
                                CssClass="btnIcon"
                                Height="24" />
                                <asp:Literal ID="lt_salida" runat="server">[Bandeja de Salida]</asp:Literal>
                    </asp:HyperLink>
                </div>
            </td>
            <td style="padding-left: 20px;">
                <asp:ContentPlaceHolder ID="Contenedor_comunicacion" runat="server" />
            </td>
        </tr>
    </table>
</asp:Content>

