﻿<%@ Page 
    Language="VB" 
    AutoEventWireup="false" 
    CodeFile="Default.aspx.vb" 
    Inherits="alumno_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td>
                        <asp:Image ID="Image1" runat="server" ImageUrl="~/Resources/imagenes/btnIcons/fatcow-hosting-icons-3800/FatCow_Icons32x32/text_move.png" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
